<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dementia.csthesis.thesis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Splash">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".MainMenu">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".MainSettings" />
        <activity android:name=".MainScores" />
        <activity android:name=".MainStats" />
        <activity android:name=".TransitionScreen">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ChoiceScreen" />
        <activity
            android:name=".gameCleared"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".gameOver"
            android:theme="@style/Theme.Transparent" />
        //logic
        <activity android:name=".QuickMath" />
        <activity android:name=".Tictactoe" />
        <activity android:name=".PipeConnect"/>
        <activity android:name=".textColor" />
        <activity android:name=".numberImpact" />

        //memory
        <activity android:name=".ImagePair" />
        <activity android:name=".NumberMemory" />
        <activity android:name=".ColorOrder" />
        <activity android:name=".ColorPair" />
        <activity android:name=".WordPair" />

        //reflex
        <activity android:name=".ColorImpact" />
        <activity android:name=".whackMole" />
        <activity android:name=".ShapeImpact"/>
        <activity android:name=".catchBall" />
        <activity android:name=".colorTap" />

        //audio
        <activity android:name=".AnimalSounds" />
        <activity android:name=".HumanSound" />
        <activity android:name=".SoundEfects" />
        <activity android:name=".SoundSorting" />
        <activity android:name=".soundImage" />

        //visual
        <activity android:name=".ColorMatch" />
        <activity android:name=".ShapeMatch" />
        <activity android:name=".MatchThree" />
        <activity android:name=".ImageMatch" />
        <activity android:name=".WordImageMatch" />

        //word
        <activity android:name=".WordGuess" />
        <activity android:name=".ImageWord"/>
        <activity android:name=".alphabetical"/>
        <activity android:name=".CompoundWords">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>